<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather in your city</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    
    <script>
        $(document).ready(function(){
          $("#sh").click(function(){
            //var lat = $("#lat").val();
            //var lng = $("#lng").val();
            var uluru = {lat: -30.9 , lng: -55};
             // The map, centered at Uluru
            var map = new google.maps.Map(
             document.getElementById('map'), {zoom: 15, center: uluru});
             // The marker, positioned at Uluru
             var marker = new google.maps.Marker({position: uluru, map: map});
        });
  });
 </script>
</head>
  <body>
    <div class="container">
      
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
    <% } %>
    <form>
    <input id="lat" type="text" class="ghost-input" value="" placeholder="Enter the lattitude" required>
    <input id="lng" type="text" class="ghost-input" value="" placeholder="Enter the longitude" required>
    <input id="sh" type="button" class="ghost-button"  value="Get the map">
  </form>
     </fieldset>
    <div id="map"></div>	
	 
    
	</div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBAR3V4Bmxv4CwmkrSZaF6bDmdj0UN_aE&callback=initMap">
  </script>
  </body>
</html>