<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<title>Home Page</title>
</head>
<body>
	<h1>This is the home page.</h1>

	<p>(This is an ejs...)</p>
	<% include ../partials/header.ejs %>
</body>
</html>