<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<style>
		h1{
			text-align: center;
			color:lightskyblue;
			font-size: 60px;
		}
		
		body {
			background-color: coral;
			}
		
	</style>
</head>
<body>
	<h1>Bill board</h1>
	
	
</body>
</html>